@charset    "UTF-8";

/*todas as demais midias*/

/*Typical Device Breakpoints
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992 px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px*/

/*ATENÇÃO: TEM QUE VERIFICAR SUAS PRÓPRIAS MEDIDAS DE BREAK POINTS*/

@media screen and (min-width: 768px) {
    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width:  768px;  /* quando a tela fica grande, o texto diminue pra ficar compactado*/
    }
}